h1{
color:red
}

#form-container{
    display: flex;
    float: left;
}

form {
    background-color: aquamarine;
    padding: 25px;
    margin-right: 50px

}

label {
    text-align: left;
}

.user-response {
    display: none;
    float: right;
    text-align: initial;
    border-style: solid;
    padding: 20px;
}

.response-buttons{
    text-align: center;

}