h1{
color:red;
}



#form-container{
    display: flex;
    float: left;
}

form {
    background-color: aquamarine;
    padding: 25px;
    margin-right: 50px;

}

#form-error {
    font-size:20px;
    color:red;
}


label {
    text-align: left;
}

.user-response {
    float: right;
    text-align: initial;
    border-style: solid;
    padding: 20px;
}

#greeting{
    color:red;
    font-size: 34px;
}

.response-buttons{
    text-align: center;
}